{% extends "base.html" %}

{% set title = "Terminal" %}
{% set active_page = "terminal" %}

{% block content %}
<div class="row">
    <div class="col sm-4">
        <div class="form-group">
            <select onchange="select_as_link(this.value);" class="input-block">
                <option value="{{ url_for('keystore.keys') }}">To key storage</option>
                {% for account in accounts %}
                <option value="{{ url_for('terminal.index_by_id', account_id=account.account_id) }}"{% if current_account.account_id == account.account_id %} selected{% endif %}>{{account.account_id}} - {{account.account_tag}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col sm-4">
        <div class="form-group">
            <select onchange="select_as_link(this.value);" class="input-block">
                <option value=""{%if not current_symbol %} selected{% endif %}>Trading pair</option>
                {% for symbol in symbols %}
                <option value="{{ url_for('terminal.index_by_id', account_id=current_account.account_id, symbol=symbol) }}"{% if current_symbol and current_symbol == symbol %} selected{% endif %}>{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% if current_symbol %}
<div class="row">
    <div class="col sm-12">
        <div class="card notification">
            <div class="card-header">
                <i class="fa fa-gavel" aria-hidden="true"></i> Open Orders
            </div>
            <div class="card-body" id="open-orders"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col sm-4">
        <div class="card notification">
            <div class="card-header">
                <i class="fa fa-info" aria-hidden="true"></i> Balances
            </div>
            <div class="card-body" id="balances"></div>
        </div>
    </div>
    <div class="col sm-4">
        <div class="card dashboard background-danger">
            <div class="card-body">
                <form method="post" id="form-sell" action="{{ url_for('terminal.create', account_id=current_account.account_id, symbol=current_symbol) }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="sell-amount">Amount</label>
                                <input name="amount" id="sell-amount" class="input-block" value="0"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select name="mode" class="input-block">
                                    <option value="market">Market</option>
                                    <option value="limit">Limit</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="sell-price">Price</label>
                                <input name="price" id="sell-price" class="input-block" value="0"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn-block btn-warning">Sell</button>
                            </div>
                        </div>
                    </div>
                    <input name="act" type="hidden" value="sell"/>
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col sm-4">
        <div class="card dashboard background-success">
            <div class="card-body">
                <form method="post" id="form-buy" action="{{ url_for('terminal.create', account_id=current_account.account_id, symbol=current_symbol) }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="buy-amount">Amount</label>
                                <input name="amount" id="buy-amount" class="input-block" value="0"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <select name="mode" class="input-block">
                                    <option value="market">Market</option>
                                    <option value="limit">Limit</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="buy-price">Price</label>
                                <input name="price" id="buy-price" class="input-block" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn-block btn-warning">Buy</button>
                            </div>
                        </div>
                    </div>
                    <input name="act" type="hidden" value="buy"/>
                    <input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function update_statistics() {
            $("#balances").load('{{ url_for('terminal.balance', account_id=current_account.account_id) }}');
            $("#open-orders").load('{{ url_for('terminal.orders', account_id=current_account.account_id, symbol=current_symbol) }}');
        }
        update_statistics();
        window.setInterval(update_statistics, {{ update_interval }});

        $('#form-sell').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                timeout: 10000,
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function (msg) {
                    $(msg).appendTo('#error-panel').delay(1000).fadeOut(1000, function () { $(this).remove(); });
                    update_statistics();
                },
                error: function (jqXHR, text) {
                    $('<div class="alert alert-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>AJAX Error</div>').appendTo('#error-panel').delay(1000).fadeOut(1000, function () { $(this).remove(); });
                }
            });
        });

        $('#form-buy').submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                timeout: 10000,
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function (msg) {
                    $(msg).appendTo('#error-panel').delay(1000).fadeOut(1000, function () { $(this).remove(); });
                    update_statistics();
                },
                error: function (jqXHR, text) {
                    $('<div class="alert alert-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>AJAX Error</div>').appendTo('#error-panel').delay(1000).fadeOut(1000, function () { $(this).remove(); });
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}