{% extends "base.html" %}

{% set title = "Auth" %}
{% set active_page = "auth" %}

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form method="post" action="{{ url_for('keystore.auth') }}">
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
            <div class="form-group">
                <label for="user-password">Password</label>
                <input name="pass" id="user-password" type="password" class="input-block" required/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-block">Save</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}